
 
body {
  font-family:'Tourney', cursive;
  background-color:#a7d6ff;
	background-color: silver;
	color: black;
       font-size: 30px;
  
  
  
}

header {
 color: white;
 background-color:#a7d6ff;
 background-image:url ('887371.jpg');
  display:flex-center;
   padding: 60px 0;
   
   font-size:27px;
}

header .row,
footer .row {
  color:white;
  background-color:black;
 

  
 display: center;
  align-items: center;
  color:white;
  background-color:black;
  
}

h1 {
  color:white;
  background-image:none;
  height: flex-bottom;
  font-weight: 16px;
  margin: 19px;
  display:center;
  
  

nav {
 background-color:silver;
 color: red;
  display:flex-block;
  justify-content: flex-end;
	display: center;

  

  
  

a {
color: lime;
  padding: 21px ;
  margin:  21px;
}
  
  a {
	color: pink; text-decoration: none;
}
	a:hover {
		color: pink;
	}

.jumbotron {
  display:center;

  align-items: flex;
  border-image-outset: 11px ;
display :center-block;

  background-size:cover;
  color:black;
  background-color:White;
  height: 11px;
}

.jumbotron h2 {
background-image:silver;
  font-size: 16px;
  font-weight: 16px;
  margin: 8px;
  color:black ;
 

 
 
 
}

.jumbotron h3 {
  Font-size: 16px;
  margin: 0 0 8px;
  color: black;
  background-color:silver;
  display:center;
 
}

section .row img {
  color:black;
  display: center;
  

  margin: 1px;
  width: 1px;
  
}

.col-md-6 {
  color: black;
  background-color: white;
  margin: 0 0 auto;
}

.btn.btn-primary {
  border-radius: 9px;
  border: 9px;
  color: black;
  background-color:silver ;
}

.btn.btn-primary:hover {
  color: black;
  background-color: silver;
	display: center;
}

.btn-secondary {
  background-color:silver ;
  color:black ;
  margin: 0 0 0 7px
}
.button {
  display: center;
  color:black;
  }
  
.portrait {
  color:none;
  
  width:  0 auto;
  height: 0 auto;
}

figure img {
  color:white;
  width: 3px;
  height: 3px;
  background-color:silver;

}

figure {
  margin-bottom:none;
  color:black;
	display:center;
}

footer {
  font-size: 7px;
  padding: 7px 0;
  color:pink;
  background-color:black;






footer .col-sm-8 {
  background-color:black;
  color:grey;
  display: flex-center;
  justify-content: flex-end;
}

footer ul {
  color:grey;
  background-color:black;
  list-style: flex;
}
