body {
  font-family:'Zen Tokyo Zoo', cursive; 
  background-color:black;
	background-image: url('spaceshipearthdribbble.png');
 
  
  
  
}

header {
 color: Black;
 background-color:blue;
 background-image:none;
  display:center;
   padding: 30px 0;
   
   font-size:16px;
}

header .row,
footer .row {
  color: white;
  background-color:black;
 

  
 display: center;
  align-items: center;
  color:white;
  background-color:black;
  
}

h1 {
  color:white;
  background-image:url('spaceshipearthdribbble.png');
  height: flex-bottom;
  font-weight: 16px;
  margin: 16px;
  
  

nav {
 background-color:black;
 color: white;
  display:flex-block;
  justify-content: flex-end;
  

  
  

a {
color: black;
  padding: 21px ;
  margin:  21px;
}
  
  a {
	color: white; text-decoration: none;
}
	a:hover {
		color: grey;
	}

.jumbotron {
  display:flex-wrap;

  align-items: flex;
  border-image-outset: 11px ;
display :center-block;
  background-image: url('Sans%20titre.png')
  background-size:cover;
  color:white;
  background-color:black;
  height: 11px;
}

.jumbotron h2 {
background-image:url('spaceshipearthdribbble.png');
  font-size: 16px;
  font-weight: 16px;
  margin: 8px;
  color: grey;
 

 
 
 
}

.jumbotron h3 {
  Font-size: 16px;
  margin: 0 0 8px;
  color: white;
  background-color:black;
 
}

section .row img {
  color:black;
  display: center;
  

  margin: 1px;
  width: 1px;
  
}

.col-md-6 {
  color: white;
  background-color: black;
  margin: 0 0 auto;
}

.btn.btn-primary {
  border-radius: 9px;
  border: 9px;
  color: white;
  background-color:black ;
}

.btn.btn-primary:hover {
  color: black;
  background-color: white;
}

.btn-secondary {
  background-color:black;
  color: white;
  margin: 0 0 0 7px
}
.button {
  display: block;
  color:black;
  }
  
.portrait {
  color:Black;
  
  width:  0 auto;
  height: 0 auto;
}

figure img {
  color:white;
  width: 3px;
  height: 3px;
  background-color: black

}

figure {
  margin-bottom:none;
  color:black;
}

footer {
  font-size: 7px;
  padding: 7px 0;
  color:black;
  background-color:white;






footer .col-sm-8 {
  background-color:white;
  color:black;
  display: flex-center;
  justify-content: flex-end;
}

footer ul {
  color:black;
  background-color:white;
  list-style: flex;
}
